# Dependency directories
node_modules/
jspm_packages/

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history


# dotenv environment variable files
.env
.env.*
!.env.example

# Serverless directories
.serverless/

# Vite files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vite/

# Next.js build output
.next
out
